@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #f2e8dc;
  --foreground: #171717;
  --primary: #e66565; /* Moved outside dark mode so it works always */
  --secondary: #f4a261;
  --accent: #264653;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef3c7;
    --foreground: #1e293b;
  }
}

/* Global Styles */
body {
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}
